
  <app-navbar> </app-navbar>

  <div class="container-fluid">
    <div class="row">
      <div class="banner text-center">
        <img class="rounded mx-auto d-block img-fluid" class="" src="../../../../assets/logoseis.png"/>

      </div>
      <br />
    </div>
<br>

    <div class="row">
      <div class="col">
        <div>
          <h1 class="text">Deseja acompanhar sua encomenda?</h1>
          <input
            type="text"
            class="form-control"
            placeholder="Digite o código de rastreamento"
          />
          <button>
            <a routerLink="" class="mb-9"
              ><i class="bi bi-search"></i>PESQUISAR</a
            >
          </button>
        </div>
      </div>

    
    </div>
  </div>

