<!-- <app-navbar> </app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col banner">
      <img src="../../../../assets/logoseis.png" />
    </div>

    <form [formGroup]="formPedido" class="col" (ngSubmit)="onSubmit()">
      <div class="formulario">
        <H2>CADASTRO DO VOLUME </H2>

        <p>Descrição</p>

        <div class="form-group">
          <label for="baseColeta" class="col-form-label">Base Coleta</label>
          <input
            id="baseColeta"
            class="form-control"
            type="text"
            name="baseColeta"
            formControlName="baseColeta"
            placeholder="Informe a base coletora"
            pInputText
          />
        </div>

        <div class="form-group">
          <label for="baseOrigem" class="col-form-label">Base Origem</label>
          <input
            id="baseOrigem"
            class="form-control"
            type="text"
            name="baseOrigem"
            formControlName="baseOrigem"
            placeholder="Informe a base de origem"
            pInputText
          />
        </div>

        <div class="form-group">
          <label for="destinatario" class="col-form-label">Destinatario</label>
          <input
            id="destinatario"
            class="form-control"
            type="text"
            name="destinatario"
            formControlName="destinatario"
            placeholder="Informe o destinatario"
            pInputText
          />
        </div>

        <div class="form-group">
          <label for="destino" class="col-form-label">Destino</label>
          <input
            id="destino"
            class="form-control"
            type="text"
            name="destino"
            formControlName="destino"
            placeholder="Informe o destino"
            pInputText
          />
        </div>

        <div class="form-group">
          <label for="altura" class="col-form-label">Altura</label>
          <input
            id="altura"
            class="form-control"
            type="text"
            name="altura"
            formControlName="altura"
            placeholder="Informe a altura do produto"
            pInputTextemail
          />
        </div>

        <div class="form-group">
          <label for="largura" class="col-form-label">Largura</label>
          <input
            id="largura"
            class="form-control"
            type="text"
            name="largura"
            formControlName="largura"
            placeholder="Informe a largura"
            pInputText
          />
        </div>

        <div class="form-group">
          <label for="peso" class="col-form-label">Peso</label>
          <input
            id="peso"
            class="form-control"
            type="text"
            name="peso"
            formControlName="peso"
            placeholder="Informe o peso do produto"
            pInputText
          />
        </div>

        <div class="form-group">
          <label for="profundidade" class="col-form-label">Profundidade</label>
          <input
            id="profundidade"
            class="form-control"
            type="text"
            name="profundidade"
            formControlName="profundidade"
            placeholder="Informe a produndidade"
            pInputText
          />
        </div>

        <div class="form-group">
          <label for="peso" class="col-form-label">Origem</label>
          <input
            id="origem"
            class="form-control"
            type="text"
            name="origem"
            formControlName="origem"
            placeholder="Informe a origem"
            pInputText
          />
        </div>

        <div class="form-group">
          <label for="remetente" class="col-form-label">Remetente</label>
          <input
            id="remetente"
            class="form-control"
            type="text"
            name="remetente"
            formControlName="remetente"
            placeholder="Informe o remetente"
            pInputText
          />
        </div>

        <div class="form-group">
          <label for="status" class="col-form-label">Status</label>
          <input
            id="status"
            class="form-control"
            type="text"
            name="status"
            formControlName="status"
            placeholder="Informe o status"
            pInputText
          />
        </div>

        <div class="form-group">
          <label for="transportador" class="col-form-label"
            >Transportador</label
          >
          <input
            id="transportador"
            class="form-control"
            type="text"
            name="transportador"
            formControlName="transportador"
            placeholder="Informe qual o transportador"
            pInputText
          />
        </div>

        <div class="col-auto d-grid" id="text">
          <button
            type="submit"
            routerLink="/cadastro-cliente"
            class="btn btn-danger mb-3"
          >
            Voltar
          </button>

          <button
            type="submit"
            routerLink="/cadastro-pedido"
            class="btn btn-warning justify-content-end"
          >
            Próxima
          </button>
        </div>
      </div>
    </form>
  </div>
</div> -->
