*{
  background-color: #0F4284;
}

.img{
  width: 20%;
}

.card {
  margin-top: 4em;
}

button{
  color: white;
  background-color: #ed7b34;
}

a{
  color: white;
}

::placeholder{
  font-style: italic;
}


